{% set sources = get_taxonomy(kind="source") %}

<!-- Filters -->
<h2 class="text-lg font-bold mb-4">Filters</h2>
<div class="flex gap-4 flex-wrap">
  <div class="sm:w-1/2 xl:w-1/3">
    <div class="collapse bg-base-200 ">
      <input type="checkbox" />
      <div class="collapse-title text-lg font-medium">Sources</div>
      <div class="collapse-content">
        {% for source in sources.items %}
        {% set name = source.name %}
        {% set isChecked = name == "NHS" or name == "ONS" %}
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">{{ source.name }}</span>
            <input value="{{ source.name }}"
                  type="checkbox"
                  {% if isChecked -%}
                  checked="checked"
                  {%- endif %}
                  class="checkbox js-source" />
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="sm:w-1/2 xl:w-1/3">
    <div class="collapse bg-base-200 ">
      <input type="checkbox" />
      <div class="collapse-title text-lg font-medium">Options</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Show Past Events</span>
            <input value="past-events"
                  type="checkbox"
                  class="checkbox js-past-events" />
          </label>
        </div>
      </div>
    </div>

  </div>
</div>

<table id="eventsTable" class="display" data-order='[[ 4, "asc" ]]'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Additional Details</th>
      <th>Source</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    {% set events = get_section(path="events/_index.md") %}

    {% for page in events.pages %}
      {% set monthDisplay = page.extra.date.month %}
      {% set dayDisplay = page.extra.date.day %}
      {% if (page.extra.date.month~"" | length == 1) %}
        {% set monthDisplay = "0"~page.extra.date.month%}
      {% endif %}
      {% if page.extra.date.day~"" | length == 1 %}
        {% set dayDisplay = "0"~page.extra.date.day%}
      {% endif %}

      <tr>
        <td><a href="{{ page.extra.url }}">{{ page.title }}</a></td>
        <td>{% if page.extra.description %}{{ page.extra.description }}{% endif %}</td>
        <td>{{ page.taxonomies.source | join(sep=", ") }}</td>
        <td>{{ page.extra.date.year }}-{{ monthDisplay }}-{{ dayDisplay }}</td>
        <td>{% if page.extra.date.timePart %}{{ page.extra.date.timePart }}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
