<!doctype html>
<html class="no-js h-full" lang="en" data-theme="{{ config.extra.default_theme }}">

<head>
  {% block head %}
    <meta charset="utf-8">
    <title>
      {% block title %}{% endblock title %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css" />

    <!-- <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script> -->

    {% set events = get_section(path="events/_index.md") %}

    <script>
      window.calEvents = [
      {% for page in events.pages -%}
        {
          title : `{{ page.title }}`,
          start: new Date({{ page.extra.date.utc }}),
          end: new Date({{ page.extra.date.utc + 1800000}}),
          source: `{{page.taxonomies.source | join(sep=", ")}}`,
          display: 'block',
          backgroundColor: `{{page.taxonomies.source[0]}}` == "ONS" ? "#A8BD3A" : "#41B6E6",
        },
      {%- endfor -%}
      ];
    </script>
    <script src="/main.js"></script>
  {% endblock head %}

</head>

<body class="h-full flex flex-col">
  <a class="l-50% absolute -translate-y-full h-8 left-1/2 p-2 transition-all focus:translate-y-0" href="#main">
    Skip to content
  </a>

  <ul class="flex justify-center gap-20 mt-4">
    <li class="text-lg font-bold underline">
      <a class="" href="/">Table</a>
    </li>
    <li class="text-lg font-bold underline">
      <a href="/calendar">Calendar</a>
    </li>
  </ul>
  <!-- Add your site or application content here -->
  {% block body %}
  {% endblock body %}

</body>

</html>
